html{
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-image: url("../images/verduras-saludables.jpg");
}

/* changing color of links in recipe pages */

li a,
p a {
    color: black;
}

.header {
    color: rgb(0,0,0,0.95);
    background-color: khaki;
    font-size: 30px;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.85) inset;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.95);
    margin-top: 0;
}

.intro {
    width: 1100px;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 5px;
    background-color: khaki;
}


.intro img {
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 10px;
    width: 500px;
    margin-right: 10px;
    background-color: black;
}

.content {
    display: inline-block;
    /* border: 1px solid black; */
    width: 550px;
    height: 340px;
    vertical-align: top;
    padding: 0 40px;
}

.steps {
    display: flex;
    width: 1100px;
    margin: 10px auto;
    /* border: 1px solid blue; */
}

.container {
    display: inline-block;
    border: 1px solid grey;
    padding: 20px 40px;
    width: 400px;
    border-radius: 3px;
    background-color: khaki;
}

.one, 
.two,
.tuna-one{
    margin-right: 20px;
}



/* empanada */

.empa-one {
    display: inline-block;
    width: 1000px;
    margin-right: 10px;
}

.main {
    display: inline-block;
}

.empa-two, 
.empa-three {
    display: block;
}

.empa-two {
    margin-bottom: 10px;
}


/* arepa */

.arepa-content {
    height: 360px;
}

/* tuna-salad */

.tuna-content {
    height: 292px;
}


.tuna-one {
    width: 500px;
    padding: 10px 90px;
}

.tuna-two {
    width: 600px;
}




